RdfEventClients-AdminTool/RdfEventClients-AdminTool/Service References/EventClientProxyRef/EventServiceProxy2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1235/EventServiceProxy?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="LogIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogInResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateNewAccountResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="adminPass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResetPasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserAccountRights">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="right" type="xs:boolean" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="adminPass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserAccountRightsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetUserAccountRightsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetEventDefinitionRights">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="right" type="xs:boolean" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="adminPass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetEventDefinitionRightsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetEventDefinitionRightsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="namePart" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUsersResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="VirtuosoDataSet.VirtuosoDataTableDataTable" Namespace="http://schemas.datacontract.org/2004/07/RdfEventClientServiceLib.VirtuosoEventServiceRef" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
            <xs:attribute fixed="http://tempuri.org/VirtuosoDataSet.xsd" name="namespace" />
            <xs:attribute fixed="VirtuosoDataTableDataTable" name="tableTypeName" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterTrigger">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DBInstance" type="xs:int" />
        <xs:element minOccurs="0" name="Tablename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Triggername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="procedureEndpoint" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterTriggerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterTriggerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNewRdfTrigger">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="procedureEndpoint" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNewRdfTriggerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetNewRdfTriggerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchemaTables">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="schema" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="procedureEndpoint" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchemaTablesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetSchemaTablesResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatabases">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatabasesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDatabasesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="VirtuosoDataSet.VirtuosoDataTableDataTable" Namespace="http://schemas.datacontract.org/2004/07/RdfEventClientServiceLib.VirtuosoEventServiceRef" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
            <xs:attribute fixed="http://tempuri.org/VirtuosoDataSet.xsd" name="namespace" />
            <xs:attribute fixed="VirtuosoDataTableDataTable" name="tableTypeName" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTriggersOfTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="procedureEndpoint" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTriggersOfTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetTriggersOfTableResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="minutes" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEventsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="VirtuosoDataSet.VirtuosoDataTableDataTable" Namespace="http://schemas.datacontract.org/2004/07/RdfEventClientServiceLib.VirtuosoEventServiceRef" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
            <xs:attribute fixed="http://tempuri.org/VirtuosoDataSet.xsd" name="namespace" />
            <xs:attribute fixed="VirtuosoDataTableDataTable" name="tableTypeName" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupportedDBs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupportedDBsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSupportedDBsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRemoteProcedureEndpoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dbInstance" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRemoteProcedureEndpointResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRemoteProcedureEndpointResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterNewRemoteDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dbType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="remoteEndpoint" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sparqlEndpoint" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="graphUris" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="catalogSchema" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterNewRemoteDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterNewRemoteDBResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteTestSqlQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="querryString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="procedureEndpoint" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteTestSqlQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ExecuteTestSqlQueryResult" nillable="true" type="q3:ArrayOfArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>